body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.flexible-container{
    display: flex;
    
  
}

.half-width
{
    width: 50%;
    padding-left:8%;
}
.half-width image
{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(238, 50, 17));
    color: rgb(240, 231, 231);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.Top-bannar{
    background-image:url(/images/top-banner.png);
    background-repeat: no-repeat;
    
}
.Dream-Big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experience-item{
    width: 40%;
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px ;
    border-left: 6px solid blue;
    margin-bottom: 100px;


}

h2{
    font-size: 40px;
}
.Experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-bady{
    border-left: 10px solid rgb(18, 175, 175);
}
#full-stack-developer{
    border-left:10px solid rebeccapurple;
}
.footer{
    text-align: center;
    margin-bottom: 35px;
    color: brown;
}



