body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display: flex;
    margin: 150px;
}

.half-width
{
    width: 50%;
    padding-left:8%;
}
.half-width image
{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(238, 50, 17));
    color: rgb(240, 231, 231);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.Top-bannar{
    background-image:url(/images/top-banner.png);
    background-repeat: no-repeat;
    
}
.Dream-Big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
